<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801672608449-u2lrrqcu67j66cl43rff39r84ntqpe7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801672608449-u2lrrqcu67j66cl43rff39r84ntqpe7r</string>
	<key>API_KEY</key>
	<string>AIzaSyB7h_5WB3LVUjnjDtJewsUKw6XzAunNCdY</string>
	<key>GCM_SENDER_ID</key>
	<string>801672608449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arcalla.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-fc7b1</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-fc7b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801672608449:ios:f84c70afe6eac6596c7240</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-fc7b1.firebaseio.com</string>
</dict>
</plist>